.logo-lg:hover{
  background-color: #ffffff;
}
.main-header:hover{
  background-color: #ffffff;
}
.skin-blue .main-header .navbar:hover{
  background-color: #ffffff;
}
.logo:hover{
  background-color: #ffffff;
}